<nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-lg">
  <a class="navbar-brand" href="/hr">HR Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="navbar-brand " href="#">
          <img class="profilePic" src="assets/user.png" alt="Profile picture" title="My Profile">
        </a>
      </li>
      <li class="nav-item active pt-3">
        <a class="nav-link" href="#">admin</a>
      </li>
      <li class="nav-item pt-3">
        <a href="/" type="button" class="btn btn-outline-danger" >Log out</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search employee" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
