<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="headerTitle">Add project</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form method="post" class="needs-validation" novalidate>

        <div class="form-row">

          <div class="form-group col-md-6">
            <label for="name" class="col-12 col-form-label">Name</label>
            <div class="col-12">
              <input class="form-control" id="name" required="required" placeholder="Type project's  name"
                     name="name"
                     [(ngModel)]="project.name">
            </div>
            <div class="invalid-tooltip">
              Please type valid name.
            </div>
            <div class="valid-tooltip">
              Looks good!
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="starting-date" class="col-12 col-form-label">Starting Date</label>
            <div class="col-12">
              <input class="form-control" placeholder="First working day" type="date" id="starting-date"
                     [(ngModel)]="project.startingDate"
                     name="startDate">
            </div>
          </div>


          <div class="form-group col-md-6">
            <label class="col-2 col-form-label">Department</label>
            <div class="col-12">
              <select [(ngModel)]="project.departments" name="first" id="working-days-input" class="custom-select">
                <option *ngFor="let o of departments" [value]="o.value">
                  {{o.name}}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-row">

          <div class="form-group col-md-6">
            <label class="col-2 col-form-label">Positions</label>
            <div class="col-12">
              <select [(ngModel)]="project.positions" name="first" id="positions-input" class="custom-select">
                <option *ngFor="let o of positions" [value]="o.value">
                  {{o.name}}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="col-2 col-form-label">Skills</label>
            <div class="col-12">
              <select [(ngModel)]="project.skills" name="first" id="skills-input" class="custom-select">
                <option *ngFor="let o of skills" [value]="o.value">
                  {{o.name}}
                </option>
              </select>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit project</button>
      </form>

    </div>
  </div>
</div>
