<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Human Resources</title>
</head>
<body>
<div class="container-fluid">

<!-- Interview person card -->
  <div class="row">
    <div class="container py-3">
      <div class="card text-white bg-info mb-3 p-3">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/interview.svg" class="cardImg img-fluid">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title">Interview person</h4>
              <p class="card-text">Here you can start the interview process.</p>
              <p class="card-text">You will have to save data for the person you are going to interview. Names, Date an Time
              and other information.</p>
              <a href="/hr/interview" class="btn btn-outline-light mt-5">Interview</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--Closing Interview person card -->

  <!--Hire person card -->
  <div class="row">
    <div class="container py-3">
      <div class="card text-white bg-info mb-3 p-3">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/approved.png" class="cardImg img-fluid">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title">Hire person</h4>
              <p class="card-text"></p>
              <p class="card-text"></p>
              <a href="/hr/hire" class="btn btn-outline-light mt-5">Hire</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--Closing hire person card -->

<!-- All employees card -->
  <div class="row">
    <div class="container py-3">
      <div class="card text-white bg-secondary mb-3 p-3">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/note.png" class="cardImg img-fluid">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title">All employees</h4>
              <p class="card-text"></p>
              <p class="card-text"></p>
              <a href="" class="btn btn-outline-light mt-5">Employees</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--Closing all employees card -->
  <div class="row">
    <div class="container py-3">
      <div class="card text-white bg-secondary mb-3 p-3">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/profit.png" class="cardImg img-fluid">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title">Salaries</h4>
              <p class="card-text"></p>
              <p class="card-text"></p>
              <a href="" class="btn btn-outline-light mt-5">Salaries</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container py-3">
      <div class="card text-white bg-success mb-3 p-3">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/fired.png" class="cardImg img-fluid">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title">Fire employee</h4>
              <p class="card-text"></p>
              <p class="card-text"></p>
              <a href="" class="btn btn-outline-light mt-5">Fire</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
<!-- Vacation card -->
  <div class="row">
    <div class="container py-3">
      <div class="card text-white bg-success mb-3 p-3">
        <div class="row">
          <div class="col-md-4 imgBackground">
            <img src="assets/vacation.png" class="cardImg img-fluid">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title">Vacations</h4>
              <p class="card-text"></p>
              <p class="card-text"></p>
              <a href="" class="btn btn-outline-light mt-5">Vacation</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
<!-- Closing vacation card -->

<app-footer></app-footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
</div>
</body>
</html>
