html{
  margin: 0px !important ;
  padding: 0px !important ;
}
body{
  background-color: #f0f192;
  background-image: url('src/assets/background-image.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.profilePic{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.cardImg{
  height :300px;
  width :300px;
}
