<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="headerTitle">Interview Person</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form *ngIf="person" #personForm="ngForm">

        <div class="form-row">

          <div class="form-group col-md-6">
            <label for="firstName" class="col-12 col-form-label">First name</label>
            <div class="col-12">
              <input type="text"
                     class="form-control"
                     id="firstName"
                     name="firstName"
                     [(ngModel)]="person.firstName"
                     required
                     #firstName="ngModel"
                     [ngClass]="{ 'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched || submitted) }" />
              <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched || submitted)" class="invalid-feedback">
                <span>First name is required field.</span>
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="middleName" class="col-12 col-form-label">Middle name</label>
            <div class="col-12">
              <input type="text"
                     class="form-control"
                     id="middleName"
                     name="middleName"
                     [(ngModel)]="person.middleName"
                     required
                     #middleName="ngModel"
                     [ngClass]="{ 'is-invalid': middleName.invalid && (middleName.dirty || middleName.touched || submitted) }" />
              <div *ngIf="middleName.invalid && (middleName.dirty || middleName.touched || submitted)" class="invalid-feedback">
                <span>Middle name is required field.</span>
              </div>
            </div>
          </div>

        </div>

        <div class="form-row">

          <div class="form-group col-md-6">
            <label for="lastName" class="col-12 col-form-label">Last name</label>
            <div class="col-12">
              <input type="text"
                     class="form-control"
                     id="lastName"
                     name="lastName"
                     [(ngModel)]="person.lastName"
                     required
                     #lastName="ngModel"
                     [ngClass]="{ 'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched || submitted) }" />
              <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched || submitted)" class="invalid-feedback">
                <span>Last name is required field.</span>
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="email" class="col-12 col-form-label">Email</label>
            <div class="col-12">
              <input type="text"
                     class="form-control"
                     id="email"
                     name="email"
                     [(ngModel)]="person.email"
                     required
                     #email="ngModel"
                     [ngClass]="{ 'is-invalid': email.invalid && (email.dirty || email.touched || submitted) }" />
              <div *ngIf="email.invalid && (email.dirty || email.touched || submitted)" class="invalid-feedback">
                <span>Email is required field.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="col-2 col-form-label">Grade</label>
            <div class="col-12">
              <ng-container *ngFor="let gender of genders">
                <div class="custom-control custom-radio">
                  <input type="radio" id="{{gender}}" name="gender" class="custom-control-input" [value]="gender.valueOf()"
                         [(ngModel)]="person.gender">
                  <label class="custom-control-label" for="{{gender}}">{{gender}}</label>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="area" class="col-12 col-form-label">Area</label>
            <div class="col-12">
              <input class="form-control" id="area" [(ngModel)]="person.area" name="area" placeholder="Type employee area of living">
            </div>
          </div>

        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="city" class="col-12 col-form-label">City</label>
            <div class="col-12">
              <input class="form-control" id="city" [(ngModel)]="person.city" name="city" placeholder="Type employee city of living">
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="address" class="col-12 col-form-label">Address</label>
            <div class="col-12">
              <input class="form-control" [(ngModel)]="person.address" name="address" type="text"
                     placeholder="Employee personal address"
                     id="address">
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="col-12 col-form-label">Upload CV</label>
            <div class="col-12">
<!--                <input type="file" name="file" id="file" class="btn btn-primary" />-->
              <form-upload></form-upload>

              <br/>
              <br/>

              <list-upload></list-upload>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="isAdding" (click)="addPerson(personForm.valid)">Add</button>
        <button type="button" class="btn btn-primary" (click)="cancelAdd()">Back</button>
      </form>
    </div>
  </div>
</div>
