
<h1>Hire Employee</h1>

<form>

  <div class="form-group row">
    <label for="name"  class="col-2 col-form-label">Name</label>
    <div class="col-10">
      <input class="form-control" id="name" placeholder="Enter name of employee">
    </div>
  </div>

  <div class="form-group row">
    <label for="age-input" class="col-2 col-form-label">Age</label>
    <div class="col-10">
      <input class="form-control" type="number" id="age-input">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Gender</label>
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="male-gender" name="gender">
      <label class="custom-control-label" for="male-gender">Male</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="female-gender" name="gender">
      <label class="custom-control-label" for="female-gender">Female</label>
    </div>
  </div>

  <div class="form-group row">
    <label for="address" class="col-2 col-form-label">Address</label>
    <textarea class="form-control rounded-0" id="address" rows="2"  ></textarea>
  </div>

  <div class="form-group row">
    <label for="exampleInputEmail1" class="col-2 col-form-label">Email address</label>
    <input class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>

  <div class="form-group row">
    <label for="salary-input" class="col-2 col-form-label">Salary</label>
    <div class="col-10">
      <input class="form-control" type="number" id="salary-input">
    </div>
  </div>

  <div class="form-group row">
    <label for="starting-date" class="col-2 col-form-label">Starting Date</label>
    <div class="col-10">
      <input class="form-control" type="date" id="starting-date">
    </div>
  </div>

  <div class="form-group row">
    <label for="vacation-days-input" class="col-2 col-form-label">Vacation Days</label>
    <div class="col-10">
      <input class="form-control" type="number" id="vacation-days-input">
    </div>
  </div>

  <div class="form-group row">
    <label for="working-hours-input" class="col-2 col-form-label">Working Hours</label>
    <div class="col-10">
      <input class="form-control" type="number" id="working-hours-input">
    </div>
  </div>

  <div class="form-group row">
    <label for="working-days-input" class="col-2 col-form-label">Working Days</label>
    <div class="col-10">
      <input class="form-control" type="number" id="working-days-input">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Grade</label>
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="junior-grade" name="grade">
      <label class="custom-control-label" for="junior-grade">Junior</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="middle-grade" name="grade">
      <label class="custom-control-label" for="middle-grade">Middle</label>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Skill</label>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
