<ngb-tabset justify="fill">
    <ngb-tab>
      <ng-template ngbTabTitle><span class="tab-title">Project</span></ng-template>
      <ng-template ngbTabContent>
        <app-add-project></app-add-project>
      </ng-template>
    </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><span class="tab-title">Position</span></ng-template>
    <ng-template ngbTabContent>
      Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><span class="tab-title">Assign employee to project</span></ng-template>
    <ng-template ngbTabContent>
      <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla</p>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

