
<ngb-tabset justify="fill">
  <ngb-tab>
    <ng-template ngbTabTitle><span class="tab-title">Position</span></ng-template>
    <ng-template ngbTabContent>
      <app-add-position></app-add-position>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><span class="tab-title">Project</span></ng-template>
    <ng-template ngbTabContent>
      <app-add-project></app-add-project>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><span class="tab-title">Assign employee to project</span></ng-template>
    <ng-template ngbTabContent>
      <app-assign-employee></app-assign-employee>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

