<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Employee</title>
</head>
<body>
<div class="container-fluid">

  <!-- Application for vacation card -->
  <div class="row">
    <div class="container py-3">
      <div class="card text-white bg-info mb-3 p-3">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/vacation.png" class="cardImg img-fluid">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title">Application for vacation</h4>
              <p class="card-text">Here you can request an application for vacation.</p>
              <a href="/employee/applicationForVacation" class="btn btn-outline-light mt-5">Apply</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Closing Application for vacation card -->

  <!-- Time card -->
  <div class="row">
    <div class="container py-3">
      <div class="card text-white bg-info mb-3 p-3">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/timecard.png" class="cardImg img-fluid">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title">Time card</h4>
              <p class="card-text"></p>
              <p class="card-text"></p>
              <a href="/employee/timeCard" class="btn btn-outline-light mt-5">Time card</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Closing Time card -->


  <app-footer></app-footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.js"
          integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
</div>
</body>
</html>

