<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="headerTitle">Our employees on Bench:</h1>
    </div>
  </div>
  <div class="row">
  <div class="card-container" *ngFor="let employee of employees; let i = index" [attr.data-index]="0">
      <div class="card">
        <div class="front">
          <div class="cover">
            <img src="assets/astronomy-1867616_1920.jpg"/>
          </div>
          <div class="user">
            <img class="img-circle" src="assets/sad.jpg"/>
          </div>
          <div class="content">
            <div class="main">
              <h3 class="name">{{employee.firstName + " " + employee.lastName}}</h3>
              <p class="profession">{{employee.grade}}</p>
            </div>
          </div>
        </div> <!-- end front panel -->
        <div class="back">
          <div class="header">
            <h5 class="motto">{{employee.email}}</h5>
          </div>
          <div class="content">
            <div class="main">
              <h4 class="text-center">Skills</h4>
              <p class="text-center">{{employee.skill}}</p>

              <form>
                <div class="form-group col-md-6">
                  <div class="col-12">
                    <select [(ngModel)]="employee.jobName"  name="jobName" class="custom-select">
                      <option *ngFor="let job of jobs" [value]="job">
                        {{job}}
                      </option>
                    </select>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary" (click)="onSubmit(employee)">Assign</button>
              </form>


              <div class="stats-container">
                <div class="stats">
                  <h4>{{employee.workingDays}}</h4>
                  <p>
                    Working Days
                  </p>
                </div>
                <div class="stats">
                  <h4>{{employee.workingHours}}</h4>
                  <p>
                    Working Hours
                  </p>
                </div>
                <div class="stats">
                  <h4>{{employee.vacationDays}}</h4>
                  <p>
                    Vacation Days
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div> <!-- end back panel -->
      </div> <!-- end card -->
  </div> <!-- end card-container -->
  </div>
</div>
