<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="headerTitle">Add position</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form method="post" class="needs-validation" novalidate>

        <div class="form-row">

          <div class="form-group col-md-6">
            <label for="name" class="col-12 col-form-label">Name</label>
            <div class="col-12">
              <input class="form-control" id="name" required="required" placeholder="Type position's name"
                     name="firstName"
                     [(ngModel)]="position.name">
            </div>
            <div class="invalid-tooltip">
              Please type valid name.
            </div>
            <div class="valid-tooltip">
              Looks good!
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="jobId" class="col-12 col-form-label">Job ID</label>
            <div class="col-12">
              <input class="form-control" id="jobId" required="required" placeholder="Type position's job id"
                     name="jobId"
                     [(ngModel)]="position.jobId">
            </div>
          </div>
        </div>

        <div class="form-row">

          <div class="form-group col-md-6">
            <label class="col-2 col-form-label">Department</label>
            <div class="col-12">
              <select [(ngModel)]="position.department" name="first" id="working-days-input" class="custom-select">
                <option *ngFor="let o of departments" [value]="o">
                  {{o}}
                </option>
              </select>
            </div>
          </div>

        </div>

        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit position</button>

      </form>
    </div>
  </div>
</div>
