<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="headerTitle">Add position</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form method="post" class="needs-validation" novalidate>

        <div class="form-row">

          <div class="form-group col-md-6">
            <label for="firstName" class="col-12 col-form-label">Name</label>
            <div class="col-12">
              <input class="form-control" id="firstName" required="required" placeholder="Type employee's first name"
                     name="firstName"
                     [(ngModel)]="employee.firstName">
            </div>
            <div class="invalid-tooltip">
              Please type valid first name.
            </div>
            <div class="valid-tooltip">
              Looks good!
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="lastName" class="col-12 col-form-label">Employee</label>
            <div class="col-12">
              <input class="form-control" id="middleName" required="required" placeholder="Type employee's middle name"
                     name="middleName"
                     [(ngModel)]="employee.middleName">
            </div>
          </div>

        </div>

        <div class="form-row">

          <div class="form-group col-md-6">
            <label for="middleName" class="col-12 col-form-label">Job ID</label>
            <div class="col-12">
              <input class="form-control" id="lastName" required="required" placeholder="Type employee's last name"
                     name="lastName"
                     [(ngModel)]="employee.lastName">
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="col-2 col-form-label">Skill</label>
            <div class="col-12">
              <ng-multiselect-dropdown
                placeholder="Select skills"
                name="dropdownSkills"
                [data]="skills"
                [(ngModel)]="employee.skill"
                [settings]="dropdownSettings">
              </ng-multiselect-dropdown>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit employee</button>

      </form>
    </div>
  </div>
</div>
