<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="headerTitle">Hire Employee</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form method="post" class="needs-validation" novalidate>

        <div class="form-row">

          <div class="form-group col-md-6">
            <label for="firstName" class="col-12 col-form-label">First name</label>
            <div class="col-12">
              <input class="form-control" id="firstName" required="required" placeholder="Type employee's first name"
                     name="firstName"
                     [(ngModel)]="employee.firstName">
            </div>
            <div class="invalid-tooltip">
              Please type valid first name.
            </div>
            <div class="valid-tooltip">
              Looks good!
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="lastName" class="col-12 col-form-label">Middle name</label>
            <div class="col-12">
              <input class="form-control" id="middleName" required="required" placeholder="Type employee's middle name"
                     name="middleName"
                     [(ngModel)]="employee.middleName">
            </div>
          </div>

        </div>

        <div class="form-row">

          <div class="form-group col-md-6">
            <label for="middleName" class="col-12 col-form-label">Last name</label>
            <div class="col-12">
              <input class="form-control" id="lastName" required="required" placeholder="Type employee's last name"
                     name="lastName"
                     [(ngModel)]="employee.lastName">
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="age-input" class="col-12 col-form-label">Age</label>
            <div class="col-12">
              <input class="form-control" type="number" min="18" max="99" required="required" size="2" maxlength="2"
                     placeholder="Employee age"
                     id="age-input" name="age"
                     [(ngModel)]="employee.age">
            </div>
          </div>

        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="col-2 col-form-label">Gender</label>
            <ng-container *ngFor="let gender of genders">
              <div class="custom-control custom-radio">
                <input type="radio" id="{{gender}}" name="gg1" class="custom-control-input" [value]="gender.valueOf()"
                       [(ngModel)]="employee.gender">
                <label class="custom-control-label" for="{{gender}}">{{gender}}</label>
              </div>
            </ng-container>
          </div>


          <div class="form-group col-md-6">
            <label for="address" class="col-12 col-form-label">Address</label>
            <div class="col-12">
              <input class="form-control" type="text" required="required"
                     placeholder="Employee personal address"
                     id="address"
                     name="address"
                     [(ngModel)]="employee.address">
            </div>
          </div>

        </div>

        <div class="form-group col-md-6">
            <label for="jobID" class="col-12 col-form-label">JobID</label>
            <div class="col-12">
              <input class="form-control" type="text" required="required"
                     placeholder="Employee personal jobID"
                     id="jobID"
                     name="jobID"
                     [(ngModel)]="employee.jobId">
            </div>
          </div>

        <div class="form-row">

          <div class="form-group col-md-6">
            <label for="exampleInputEmail1" class="col-12 col-form-label">Email address</label>
            <div class="col-12">
              <input class="form-control" id="exampleInputEmail1" type="email" required="required"
                     placeholder="Personal employee email"
                     name="email"
                     [(ngModel)]="employee.email">
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="salary-input" class="col-12 col-form-label">Salary</label>
            <div class="col-12">
              <div class="input-group">
                <input class="form-control" placeholder="Employee starting salary" type="number" min="1"
                       max="100000" id="salary-input" required="required"
                       aria-label="Dollar amount (with dot and two decimal places)"
                       name="salary"
                       [(ngModel)]="employee.salary">
                <div class="input-group-append">
                  <span class="input-group-text">лв.</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">

          <div class="form-group col-md-6">
            <label for="starting-date" class="col-12 col-form-label">Starting Date</label>
            <div class="col-12">
              <input class="form-control" placeholder="First working day" type="date" id="starting-date"
                     [(ngModel)]="employee.startDate"
                     name="startDate">
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="vacation-days-input" class="col-12 col-form-label">Vacation Days</label>
            <div class="col-12">
              <input class="form-control" type="number" id="vacation-days-input" placeholder="Vacation days" min="0"
                     max="25" required="required" [(ngModel)]="employee.vacationDays"
                     name="vacation">
            </div>
          </div>

        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="working-hours-input" class="col-12 col-form-label">Working Hours</label>
            <div class="col-12">
              <select [(ngModel)]="employee.workingHours" name="first" id="working-hours-input" class="custom-select">
                <option *ngFor="let o of workingHours" [value]="o.value">
                  {{o.name}}
                </option>
              </select>
              <div class="invalid-feedback">Invalid selection!</div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="working-days-input" class="col-12 col-form-label">Working Days</label>
            <div class="col-12">
              <select [(ngModel)]="employee.workingDays" name="first" id="working-days-input" class="custom-select">
                <option *ngFor="let o of workingDays" [value]="o.value">
                  {{o.name}}
                  {{o.name}}
                </option>
              </select>
              <div class="invalid-feedback">Invalid selection!</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="col-2 col-form-label">Grade</label>
            <ng-container *ngFor="let grade of grades">
              <div class="custom-control custom-radio">
                <input type="radio" id="{{grade}}" name="gg" class="custom-control-input"
                       [value]="grade.valueOf()" [(ngModel)]="employee.grade">
                <label class="custom-control-label" for="{{grade}}">{{grade}}</label>
              </div>
            </ng-container>
          </div>

          <div class="form-group col-md-6">
            <label class="col-2 col-form-label">Skill</label>
            <div class="col-12">
              <ng-multiselect-dropdown
                placeholder="Select skills"
                name="dropdownSkills"
                [data]="skills"
                [(ngModel)]="employee.skill"
                [settings]="dropdownSettings">
              </ng-multiselect-dropdown>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit employee</button>

      </form>
    </div>
  </div>


